RewriteEngine on

# Раздел эксплуатации
RewriteRule ^ekspluatatsiya-shevi1.html$ /Chevrolet_NIVA/#ekspluatatsiya2 [R=301,L]
RewriteRule ^ekspluatatsiya-shevi2.html$ /Chevrolet_NIVA/#ekspluatatsiya3 [R=301,L]
RewriteRule ^ekspluatatsiya-shevi3.html$ /Chevrolet_NIVA/#ekspluatatsiya4 [R=301,L]
RewriteRule ^ekspluatatsiya-shevi4.html$ /Chevrolet_NIVA/#ekspluatatsiya5 [R=301,L]

# Главная страница
RewriteRule ^home.html$ /Chevrolet_NIVA/ [R=301,L]

# Раздел обслуживания
RewriteRule ^obsluzhivanie-shevi1.html$ /Chevrolet_NIVA/#obsluzhivanie1 [R=301,L]
RewriteRule ^obsluzhivanie-shevi2.html$ /Chevrolet_NIVA/#obsluzhivanie4 [R=301,L]
RewriteRule ^obsluzhivanie-shevi3.html$ /Chevrolet_NIVA/#obsluzhivanie9 [R=301,L]
RewriteRule ^obsluzhivanie-shevi4.html$ /Chevrolet_NIVA/#obsluzhivanie10 [R=301,L]
RewriteRule ^obsluzhivanie-shevi5.html$ /Chevrolet_NIVA/#obsluzhivanie11 [R=301,L]
RewriteRule ^obsluzhivanie-shevi6.html$ /Chevrolet_NIVA/#obsluzhivanie13 [R=301,L]
RewriteRule ^obsluzhivanie-shevi7.html$ /Chevrolet_NIVA/#obsluzhivanie12 [R=301,L]

# Раздел описания
RewriteRule ^opisanie-shevi1.html$ /Chevrolet_NIVA/#opisanie1 [R=301,L]
RewriteRule ^opisanie-shevi3.html$ /Chevrolet_NIVA/#opisanie2 [R=301,L]
RewriteRule ^opisanie-shevi4.html$ /Chevrolet_NIVA/#opisanie3 [R=301,L]
RewriteRule ^opisanie-shevi5.html$ /Chevrolet_NIVA/#opisanie7 [R=301,L]
RewriteRule ^opisanie-shevi6.html$ /Chevrolet_NIVA/#opisanie8 [R=301,L]
RewriteRule ^opisanie-shevi7.html$ /Chevrolet_NIVA/#opisanie10 [R=301,L]
RewriteRule ^opisanie-shevi8.html$ /Chevrolet_NIVA/#opisanie11 [R=301,L]
RewriteRule ^opisanie-shevi9.html$ /Chevrolet_NIVA/#opisanie12 [R=301,L]
RewriteRule ^opisanie-shevi10.html$ /Chevrolet_NIVA/#opisanie16 [R=301,L]
RewriteRule ^opisanie-shevi11.html$ /Chevrolet_NIVA/#opisanie18 [R=301,L]

# Приложения
RewriteRule ^prilozheniya-shevi.html$ /Chevrolet_NIVA/#harakteristiki5 [R=301,L]

# Технические характеристики
RewriteRule ^tehnicheskaya-harakteristika-shevi1.html$ /Chevrolet_NIVA/#harakteristiki1 [R=301,L]
RewriteRule ^tehnicheskaya-harakteristika-shevi2.html$ /Chevrolet_NIVA/#harakteristiki2 [R=301,L]
RewriteRule ^tehnicheskaya-harakteristika-shevi3.html$ /Chevrolet_NIVA/#harakteristiki4 [R=301,L]
